<div id="about-me" class="about-container d-flex justify-content-center align-items-center white-color section">
  <p class="container">
    Meticulous web developer with over 2 years of front end experience and passion for responsive website design and a
    firm believer in the mobile-first approach. Hyper Island certified. Implemented new responsive website approach
    which increased mobile traffic by 20%. Enable site-wide promotions by programming HTML5 canvases to animate
    particles on web backgrounds. Developed websites from front to backend using PHP, JavaScript, and HTML. Enhanced
    user experience and accomplish webpage objectives by creating site structure, navigation, page optimization, and
    graphics integration.
  </p>
</div>
