<div class="app-header position-relative">
  <app-navbar></app-navbar>
  <div class="intro-container position-absolute start-50 top-50 translate-middle container d-flex justify-content-center align-items-center flex-column gap-4 white-color">
    <h2>I am a Frontend Developer with more than 3 years of experience in web development</h2>
    <div class="d-flex justify-content-center flex-column flex-md-row flex-xs-column align-items-center gap-2">
      <button class="header-btn white-color">View Projects</button>
      <button class="header-btn white-color">Contact Me</button>
    </div>
  </div>
</div>
