<div id="header" class="app-header position-relative section">
  <app-navbar></app-navbar>
  <div class="intro-container position-absolute start-50 top-50 translate-middle container d-flex justify-content-center align-items-center flex-column gap-4 white-color">
    <h2>I am a Full Stack Developer with more than 3 years of experience in web development</h2>
    <div class="d-flex justify-content-center flex-column flex-md-row flex-xs-column align-items-center gap-2">
      <a href="https://github.com/sagharnoursobhi" target="_blank" class="header-btn white-color">Visit My Github</a>
      <a routerLink="/" fragment="footer" class="header-btn white-color">Contact Me</a>
    </div>
  </div>
</div>
