@import '../../../styles.scss';

.navbar-toggler {
  &:focus {
    box-shadow: none !important;
  }

  i {
    font-size: 30px;
  }
}

img.logo {
  width: 50px;
}

.navbar {
  &.large-index {
    z-index: 1000;
  }

  button.btn-close:focus {
    box-shadow: none;
  }
}

li.nav-item {
  a.nav-link {
    color: $white_color;
    border-bottom: 1px solid transparent;
    transition: .4s border-bottom-color;

    &.active-route {
      border-bottom-color: $white_color;
    }

    &:hover {
      border-bottom-color: $white_color;
    }

    @media (max-width: 992px) {
      color: $black_color;
    }
  }
}

