<nav class="navbar navbar-expand-lg"
     [ngClass]="isScrolled ? 'bg-dark position-fixed w-100 top-0 left-0 large-index' : 'bg-transparent'">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
      <i class="bi bi-list text-white"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
         aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" data-bs-dismiss="offcanvas">
        <button type="button" class="btn-close"  aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <a routerLink="/" class="nav-link"><img class="logo" src="../../../assets/images/logo.png" alt=""></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ps-2 pe-2 pt-2 pb-2" data-bs-dismiss="offcanvas">
            <a routerLink="/" class="nav-link white-color p-0"
               aria-current="page" >Home</a>
          </li>
          <li class="nav-item ps-2 pe-2 pt-2 pb-2" data-bs-dismiss="offcanvas">
            <a href="#projects" class="nav-link white-color text-dark p-0"
               fragment="projects">My
              Work</a>
          </li>
          <li class="nav-item ps-2 pe-2 pt-2 pb-2" data-bs-dismiss="offcanvas">
            <a href="#about-me"  class="nav-link white-color p-0">
              About Me
            </a>
          </li>
          <li class="nav-item ps-2 pe-2 pt-2 pb-2" data-bs-dismiss="offcanvas">
            <a href="#app-footer"  class="nav-link white-color p-0">Contact
              Me</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
