
$custom-font-title-color: #085195;
$custom-font-title-color-green: #2D9508;
$custom-navbar-items-color: #023C5C;
$background-color-light-blue: rgba(172, 200, 225, 0.48);;

@mixin custom-text {
    color: $custom-font-title-color;
    font-weight: 700;
    font-size: 80px;
}