<footer id="app-footer" class="container-fluid w-100 pt-5 pb-5 ps-3 pe-3 section">
  <div class="row">
    <section class="col-12 col-md-4">
      <h2 class="yellow-color">Get in Touch</h2>
      <p class="white-color">Whether you have a question, a project proposal, or just want to say hi, my inbox is always
        open. I am
        available for full-time positions, freelance opportunities, or interesting collaborations. Feel free to drop a
        message and I'll get back to you as soon as possible.
      </p>
    </section>
    <section class="col-md-8 col-12 row gap-5 flex-wrap p-sm-3-only">
      <div
        class="d-flex flex-column justify-content-center contact-item align-items-start br-10__tl br-10__br dark-gray-bg col-12 col-md-7 col-lg-5 p-5">
        <i class="bi bi-envelope yellow-color"></i>
        <a [href]="'mailto:' + gmail + '?subject=' + encodeURIComponent(subject) + '&body=' + encodeURIComponent(body)" class="white-color">sagharnoursobhi@gmail.com</a>
      </div>
      <div
        class="d-flex flex-column justify-content-center align-items-start br-10__tl br-10__br dark-gray-bg contact-item col-12 col-md-5 p-5">
        <i class="bi bi-telephone-inbound yellow-color"></i>
        <a [href]="'tel:' + phoneNumber" class="white-color">+46737390072</a>
      </div>
      <a
        class="col-5 d-flex flex-column justify-content-center align-items-start br-10__tl br-10__br dark-gray-bg contact-item col-12 col-md-5 p-5"
        target="_blank" href="https://www.linkedin.com/in/saghar-noursobhi-514355143">
        <i class="bi bi-linkedin yellow-color"></i>
        <a class="white-color">Contact Me on Linkedin</a>
      </a>
    </section>
  </div>
</footer>
